

.featured {

   width:  800px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 1;
}

.featuredItem {
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;


}


.featuredimg {
  width: 100%;
  object-fit: cover;
}

.featuredTitles {
    position: absolute;
    display: flex;
    bottom: 80px;
    left: 20px;



}